<template class="task-template">

<div class="row" id="liveKOTMain">
   <div class="col-xs-12 kotListing">
      <ul id="fullKOT">
        
      </ul>
   </div>
</div>


    <button class="btn btn-primary liveOrderSwitcher hiddenLiveButton" id="switchLiveOrderRenderTypeButton" onclick="switchLiveOrderRenderType()">Showing Dine Orders</button>

    <!-- Modal -->
      <div id="liveOrderOptionsModal" class="modal">
         <div class="modal-dialog" style="top: 20%">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body" id="liveOrderOptionsModalContent" style="max-height: 420px; overflow: scroll; padding: 10px 10px 5px 10px">
           
               </div>
            </div>
         </div>
      </div>



        <!-- MODAL -->
        <div id="overWriteCurrentOrderModal" class="modal">
             <div class="modal-dialog" style="top: 20%;">
				<div class="modal-content">
	               <div class="modal-body" style="max-height: 420px; overflow: scroll">
	                <p style="font-size: 16px; margin: 0; color: #e74c3c;">There is a new order being punched. Please complete it to continue.<br><br>Or, Proceed if you are sure about over writing it to edit this order?</p>
	               </div>
	               <div class="modal-footer" id="overWriteCurrentOrderModalConsent">
	               </div>

	            </div>
             </div>
          </div>


   <!-- Modal -->
   <div id="pickTableForTransferOrderModal" class="modal">
      <div class="modal-dialog" style="top: 10%; width: 80%">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button  onclick="pickTableForTransferOrderHide()" style="float: right;" class="btn clearButton">X</button>
               <h4 class="modal-title">Choose a Table</h4>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow: scroll; padding-top: 0" id="pickTableForTransferOrderModalContent">
            </div>
            <div class="modal-footer" style="padding: 0">
               <button  class="btn btn-default" onclick="pickTableForTransferOrderHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Cancel</button>
            </div>
         </div>
      </div>
   </div>          

</template>
