<template class="task-template">

        <div class="row">

            <h1 style="font-size: 36px; font-weight: 300; text-align: center; color: #464D50; margin-bottom: 30px; font-family: 'Oswald'">Manage Menu</h1>

            <div class="col-sm-12" style="text-align: center;">

              <div class="manageMenuListedOptionHolder" onclick="renderPage('master-menu', 'Master Menu');">
                <img src="images/common/manage-menu/master-menu.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Master Menu</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="renderPage('menu-photos', 'Menu Photos')">
                <img src="images/common/manage-menu/menu-photos.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Menu Photos</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="renderPage('mapped-menus', 'Mapped Menus')">
                <img src="images/common/manage-menu/menu-mapping.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Mapped Menus</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="renderPage('menu-settings', 'Menu Settings')">
                <img src="images/common/manage-menu/settings.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Menu Settings</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="openMenuDownloadTool()">
                <img src="images/common/manage-menu/data-sync.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Sync</tag>
              </div>

            </div>
        
        </div>

</template>