<template class="task-template">

        <div class="row">

            <h1 style="font-size: 36px; font-weight: 300; text-align: center; color: #466c88; margin-bottom: 30px;">Manage Menu</h1>

            <div class="col-sm-12" style="text-align: center;">

              <div class="manageMenuListedOptionHolder" onclick="renderPage('master-menu', 'Master Menu');">
                <img src="images/common/manage_menu_master.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Master Menu</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="renderPage('menu-photos', 'Menu Photos')">
                <img src="images/common/manage_menu_images.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Menu Photos</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="renderPage('mapped-menus', 'Mapped Menus')">
                <img src="images/common/manage_menu_mapped.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Mapped Menus</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="renderPage('menu-settings', 'Menu Settings')">
                <img src="images/common/manage_menu_settings.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Menu Settings</tag>
              </div>

              <div class="manageMenuListedOptionHolder" onclick="openMenuDownloadTool()">
                <img src="images/common/manage_menu_download.png" style="width: 100px; height: 100px; margin-top: 20px;">
                <tag class="manageMenuListedOptionText">Download</tag>
              </div>

            </div>
        
        </div>

</template>