<template class="task-template">

               <div class="row">


                  <div class="col-xs-4">
                     <div class="box box-primary">
                        <div class="box-body">
                           

                              <div class="box-header" style="padding: 10px 0px">
                                <h3 class="box-title" style="padding: 5px 15px; font-size: 24px; font-family: 'Oswald';">Summary</h3>
                              </div>


                               <div class="row" style="padding: 0 15px;">
                                  <div class="col-sm-5">
                                     <label style="font-size: 10px">FROM DATE</label><br>
                                     <input type="text" id="reportFromDate" class="myDatePicker" placeholder="From Date">
                                  </div>
                                  <div class="col-sm-5"  style="margin-left: 20px">
                                     <label style="font-size: 10px">TO DATE</label><br>
                                     <input type="text" id="reportToDate" class="myDatePicker" placeholder="To Date">
                                  </div>
                               </div>


                               <div class="row" style="padding: 0 30px; margin-top: 30px">

                                  <div class="summaryTimeHolder" onclick="fetchOverAllTurnOver()">
                                    <img src="images/common/summary-icons/quick-summary.png">
                                    <tag style="color:#ffaa23;" class="summaryTileText">Summary</tag>
                                  </div>
                                  <div class="summaryTimeHolder" onclick="fetchSalesSummary()">
                                    <img src="images/common/summary-icons/billing-modes.png">
                                    <tag style="color: #475b63" class="summaryTileText">Summary by Billing Modes</tag>
                                  </div>   
                                  <div class="summaryTimeHolder" onclick="fetchPaymentModeWiseSummary()">
                                    <img src="images/common/summary-icons/payments.png">
                                    <tag style="color: #475b63" class="summaryTileText">Summary by Payment Modes</tag>
                                  </div>
                               </div>


                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>



                  

                  <div class="col-xs-8" id="summaryRenderArea">
                    
                    <div class="box box-primary" id="excelReport_RenderArea" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0 0 0">
                              <h3 class="box-title" style="padding: 5px 20px ; font-size: 24px; font-family: 'Oswald'">Download Excel Reports</h3>
                           </div>
                           
                            <div class="row" style="margin: 0">
                              <div class="col-sm-12" style="padding: 20px">
                                
                                <div class="excelDownloadBlock" onclick="downloadExcelReport('OVERALL_REPORT')">
                                  <img class="excelDownloadIcon" src="images/common/excel_file_icon.png">
                                  <p class="excelTitleName">Overall Summary</p>
                                  <tag class="excelDownloadTag"><i class="fa fa-play" style="margin-right: 8px"></i>Generate Summary</tag>
                                </div>


                                <div class="excelDownloadBlock" onclick="downloadExcelReport('INVOICE_REPORT')">
                                  <img class="excelDownloadIcon" src="images/common/excel_file_icon.png">
                                  <p class="excelTitleName">All Invoices</p>
                                  <tag class="excelDownloadTag"><i class="fa fa-play" style="margin-right: 8px"></i>Download</tag>
                                </div>

                                
                                <div class="excelDownloadBlock" onclick="downloadExcelReport('BILL_CANCELLATIONS')">
                                  <img class="excelDownloadIcon" src="images/common/excel_file_icon.png">
                                  <p class="excelTitleName">Bill Cancellations</p>
                                  <tag class="excelDownloadTag"><i class="fa fa-play" style="margin-right: 8px"></i>Download</tag>
                                </div>

                                <div class="excelDownloadBlock" onclick="downloadExcelReport('ITEM_CANCELLATIONS')">
                                  <img class="excelDownloadIcon" src="images/common/excel_file_icon.png">
                                  <p class="excelTitleName">Item Cancellations</p>
                                  <tag class="excelDownloadTag"><i class="fa fa-play" style="margin-right: 8px"></i>Download</tag>
                                </div>

                              </div>
                            </div>


                        </div>
                     </div>

                  
                     <div class="box box-primary" id="summaryRenderArea_billingMode" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';">Summary by <b>Billing Modes</b></h3>
                           </div>
                           
                           <div class="row" style="margin: 0">
                              <div class="col-sm-6" style="padding: 0">
                                   <div class="table-responsive">
                                      <table class="table" style="margin: 0">
                                        <tbody id="summaryRender_billingMode">

                                        </tbody>                                 
                                      </table>
                                   </div>
                              </div>
                              <div class="col-sm-6" style="padding: 0 0 15px 15px">
                                <center><div style="width: 75%">
                                  <canvas id="billingModesPieChart" width="100" height="100"></canvas>
                                </div></center>
                              </div>
                          </div>


                        </div>
                     </div>



                     <!-- For given BILLING MODE: Detailed payment mode wise split -->
                      <div class="box box-primary" id="summaryRenderArea_billingMode_detailed" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';" id="summaryRenderArea_billingMode_detailed_title">Payment Summary</h3>
                           </div>
                           
                            
                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_billingMode_detailed">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>

                        </div>
                     </div>





                     <div class="box box-primary" id="summaryRenderArea_paymentMode" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';">Summary by <b>Payment Modes</b></h3>
                           </div>


                            <div class="row" style="margin: 0">
                                <div class="col-sm-6" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_paymentMode">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                                <div class="col-sm-6" style="padding: 0 0 15px 15px">
                                  <center><div style="width: 75%">
                                    <canvas id="paymentModesPieChart" width="100" height="100"></canvas>
                                  </div></center>
                                </div>
                            </div>

                        </div>
                     </div>


                     <!-- For given PAYMENT MODE: Detailed extras split -->
                      <div class="box box-primary" id="summaryRenderArea_paymentMode_detailed" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';" id="summaryRenderArea_paymentMode_detailed_title">Detailed Summary</h3>
                           </div>
                           
                            
                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_paymentMode_detailed">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>
                            
                        </div>
                     </div>


                     <div class="box box-primary" id="summaryRenderArea_sessionWise" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';">Summary by <b>Sessions</b></h3>
                           </div>


                            <div class="row" style="margin: 0">
                                <div class="col-sm-6" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_sessionWise">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                                <div class="col-sm-6" style="padding: 0 0 15px 15px">
                                  <center><div style="width: 75%" id="sessionsPieChartHolder">
                                    <canvas id="sessionsPieChart" width="100" height="100"></canvas>
                                  </div></center>
                                </div>
                            </div>

                        </div>
                     </div>




                     <div class="box box-primary" id="summaryRenderArea_timeSlotWise" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';">Summary by <b>Time Slots</b></h3>

                              <div class="timeSlotSummaryButtons">
                                <p style="margin: 10px 0 0 0;">Showing <button class="timeSlotFilterButton" onclick="changeTimeslotSummaryDisplayFilter()" id="timeslotSummaryDisplayFilterButton">Generated Bills</button> from <button class="timeSlotFilterButton" onclick="changeTimeslotSummaryOrderType()" id="timeslotSummaryOrderTypeButton">All Orders</button>
                                </p>

                                <div style="width: 50%; position: absolute; left: 210px; top: 30px;">
                                  <div id="billingModesModalHome" class="modal billModalSelect">
                                    <div class="modal-dialog" style="width: 100%; margin: 0">
                                      <div class="modal-content" id="billingModesModalHomeContent"></div>
                                    </div>
                                  </div>
                                </div> 

                                  
                              </div>


                           </div>


                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0" id="summaryRender_timeSlotWise">
                                </div>
                                <div class="col-sm-12" style="padding: 0 0 15px 15px">
                                  <center><div style="width: 75%" id="timeSlotBarChartHolder">
                                    <canvas id="timeSlotBarChart" width="100" height="100"></canvas>
                                  </div></center>
                                </div>
                            </div>

                        </div>
                     </div>


                     <div class="box box-primary" id="singleClickReport_RenderArea" style="display: none; min-height: 270px; padding-top: 30px;">
                        <div class="box-body">

                            <p style="position: absolute; top: 5px; right: 15px; color: #b1b1b1; font-size: 12px; margin: 0;">Theme: <b id="selectedThemeDisplay" style="cursor: pointer;" onclick="openSetThemeModal()">Unknown</b></p>

                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" id="singleClickReport_RenderContent">

                                </div>                              
                            </div>
                            <p style="padding: 10px; border-top: 1px solid #e2dede; margin: 20px 0 0 0; color: #f71c1c; display: none" id="singleClickReport_ErrorContent"></p>

                        </div>

                        <!-- Secret Graph Render areas -->
                        <div style="position: absolute; top: 350px; width: 750px; background: none;">
                                <canvas style="display: none;" id="weeklyTrendLineChartBW" width="750" height="300"></canvas>
                                <canvas style="display: none;" id="weeklyTrendLineChart" width="750" height="300"></canvas>
                                <canvas style="display: none;" id="hourlyTrendLineChart" width="750" height="300"></canvas>
                              <div style="width: 240px !important;">
                                <canvas style="display: none;" id="reportGraphBills" width="100" height="100"></canvas>
                                <canvas style="display: none;" id="reportGraphPayments" width="100" height="100"></canvas>
                              </div>
                        </div>
                     </div>


                     <div class="box box-primary" id="summaryRenderArea_turnOver" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title quickSummaryMainHead">Quick Sales Summary</h3>
                              <tag id="averageCustomerRatingDispay" style="text-align: center; display: block; font-size: 24px; position: relative; top: -8px;"></tag>
                           </div>



                            <div class="row" id="quickSalesFigure_FactsBox" style="margin: 0 0 25px 0; display: none">

                            </div>
                                                      

                            <div class="row" style="margin: 0">
                                <div class="col-sm-1" style="padding: 0"></div>
                                <div class="col-sm-10" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_turnOver">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>



                        </div>
                     </div>


                     <div class="box box-primary" id="summaryRenderArea_discountSummary" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';"><b style="color: #52ab99">Discounted Sales</b> Summary</h3>
                           </div>

                            <div class="row" style="margin: 0">
                                <div class="col-sm-6" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_discountSummary">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                                <div class="col-sm-6" style="padding: 0 0 15px 15px">
                                  <center><div style="width: 75%">
                                    <canvas id="discountSummaryPieChart" width="100" height="100"></canvas>
                                  </div></center>
                                </div>
                            </div>

                        </div>
                     </div>


                     <div class="box box-primary" id="summaryRenderArea_cancellationSummary" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';"><b style="color: #dd4b39">Cancelled Bills</b> Summary</h3>
                           </div>

                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_cancellationSummary">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>

                        </div>
                     </div>


                     <div class="box box-primary" id="summaryRenderArea_refundSummary" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';"><b style="color: #f3b812">Refunds Issued</b> on Settled Bills</h3>
                           </div>

                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_refundSummary">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>

                        </div>
                     </div>



                     <div class="box box-primary" id="summaryRenderArea_itemSummary" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';">Top Selling Items</h3>
                              <button class="btn-success btn btn-sm" style="display: inline-block; position: absolute; top: 11px; right: 0;" id="completeItemSummaryButton" onclick="generateOverallItemReport()">Complete Report</button>
                              <div id="itemSummaryReportOptions" style="display: block; position: absolute; top: 10px; right: -5px;"></div>
                           </div>

                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_itemSummary">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>

                        </div>
                     </div>



                     <div class="box box-primary" id="summaryRenderArea_itemCancellationSummary" style="display: none">
                        <div class="box-body">
                           <div class="box-header" style="padding: 10px 0px">
                              <h3 class="box-title" style="padding: 5px 0px; font-size: 24px; font-family: 'Oswald';">Most Cancelled Items</h3>
                              <button class="btn-success btn btn-sm" style="display: inline-block; position: absolute; top: 11px; right: 0;" id="completeItemCancellationSummaryButton" onclick="generateOverallItemCancellationReport()">Complete Report</button>
                              <div id="itemCancellationSummaryReportOptions" style="display: block; position: absolute; top: 10px; right: -5px;"></div>
                           </div>

                            <div class="row" style="margin: 0">
                                <div class="col-sm-12" style="padding: 0">
                                     <div class="table-responsive">
                                        <table class="table" style="margin: 0">
                                          <tbody id="summaryRender_itemCancellationSummary">

                                          </tbody>                                 
                                        </table>
                                     </div>
                                </div>
                            </div>

                        </div>
                     </div>





                  </div>
                  

               </div>
            </section>


   <!-- Modal -->
   <div id="reportThemeSelectionModal" class="modal" style="display: none">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important;">
                     <div class="row">
                        <div class="col-sm-12">
                                 <div class="form-group">
                                    <label style="margin: 10px 0; font-size: 24px; font-weight: 300; text-align: center; width: 100%;">Choose a color theme for the Report</label>
                                 </div>                                 
                        </div>
                     </div>
                     <div class="row" style="margin-bottom: 15px;">
                        <div class="col-sm-3">
                            <div style="border-radius: 5px; width: 100%; height: 60px; background: #c63931; cursor:pointer" onclick="setReportTheme('RED')">
                              <span style="font-size: 12px; display: block; height: 40px; line-height: 64px; text-align: center; color: rgba(255, 255, 255, 0.5); font-weight: bold; font-family: 'Roboto'; letter-spacing: 2px;">RED</span>
                            </div>                               
                        </div>
                        <div class="col-sm-3">
                            <div style="border-radius: 5px; width: 100%; height: 60px; background: #0eb7a7; cursor:pointer" onclick="setReportTheme('GREEN')">
                              <span style="font-size: 12px; display: block; height: 40px; line-height: 64px; text-align: center; color: rgba(255, 255, 255, 0.5); font-weight: bold; font-family: 'Roboto'; letter-spacing: 2px;">GREEN</span>
                            </div>                               
                        </div>
                        <div class="col-sm-3">
                            <div style="border-radius: 5px; width: 100%; height: 60px; background: #4593d2; cursor:pointer" onclick="setReportTheme('BLUE')">
                              <span style="font-size: 12px; display: block; height: 40px; line-height: 64px; text-align: center; color: rgba(255, 255, 255, 0.5); font-weight: bold; font-family: 'Roboto'; letter-spacing: 2px;">BLUE</span>
                            </div>                               
                        </div>
                        <div class="col-sm-3">
                            <div style="border-radius: 5px; width: 100%; height: 60px; background: #444; cursor:pointer" onclick="setReportTheme('DARK')">
                              <span style="font-size: 12px; display: block; height: 40px; line-height: 64px; text-align: center; color: rgba(255, 255, 255, 0.5); font-weight: bold; font-family: 'Roboto'; letter-spacing: 2px;">DARK</span>
                            </div>                               
                        </div>

                     </div>
            </div>
         </div>
      </div>
   </div>

</template>