<template class="task-template">
<div class="row">
            <div class="col-xs-5">

                <div class="row">
                    <div class="col-xs-6" onclick="loadAllPendingSettlementBills()" style="cursor: pointer">
                        <div class="box box-primary">
                            <div class="box-body" id="billSelection_pending">
                                <div id="pendingBillsCount" class="rewardsCount">..</div>
                                <div class="rewardsName">PENDING SETTLEMENT</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6" onclick="loadAllSettledBills()" style="cursor: pointer">
                        <div class="box box-primary">
                            <div class="box-body" id="billSelection_settled">
                                <div id="settledBillsCount" class="rewardsCount">..</div>
                                <div class="rewardsName">SETTLED BILLS</div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="box box-primary" >

                    <div class="box-body">

                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="padding: 5px 0px; font-size: 21px;" id="billTypeTitle">Bills</h3>
                           <tag style="float: right" id="navigationAssitantBills">

                           </tag>
                        </div>

                            <div class="table-responsive">
                                <table class="table" id="billBriefDisplayRender">

                                </table>
                            </div>
                            <div class="clearfix"></div>

                    

                    </div>
                </div>
            </div>

            <div class="col-xs-7" id="billDetailedDisplayRender">

            </div>
        </div>




   <!-- Modal -->
   <div id="addressViewFromBillModal" class="modal">
      <div class="modal-dialog" style="top: 20%">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-body" style="max-height: 420px; overflow: scroll;">
                  <h1 style="margin: 10px 0; font-size: 21px; font-weight: 400; padding-left: 10px">Address
                  </h1>

                     <div class="row" style="padding: 5px 30px 20px 15px;" id="addressViewFromBillModalContent">
                        
                     </div>

            </div>
            <div class="modal-footer" style="padding: 0">
                <button type="button" class="btn btn-default" onclick="viewDeliveryAddressFromBillHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Close</button>                
            </div>
         </div>
      </div>
   </div>





 </template>       