<template class="task-template">
<div class="row">
            <div class="col-xs-5">
              
                <div class="row">
                    <div class="col-xs-6" onclick="loadAllPendingSettlementBills('', 'LOADING_ANIMATION')" style="cursor: pointer">
                        <div class="box box-primary">
                            <div class="box-body" id="billSelection_pending">
                                <div id="pendingBillsCount" class="rewardsCount">..</div>
                                <div class="rewardsName">PENDING SETTLEMENT</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6" onclick="loadAllSettledBills('LOADING_ANIMATION')" style="cursor: pointer">
                        <div class="box box-primary">
                            <div class="box-body" id="billSelection_settled">
                                <div id="settledBillsCount" class="rewardsCount">..</div>
                                <div class="rewardsName">SETTLED BILLS</div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="box box-primary" >

                    <div class="box-body">

                        
                        <div class="box-header" style="padding: 10px 0px">
                           <h3 class="box-title" style="min-width: 115px; padding: 5px 0px; font-size: 24px; font-family: 'Oswald'" id="billTypeTitle">Bills</h3>
                           <span id="billTypeTitleButton"><button class="billsFilterButton" onclick="openFilterModal()">Filter</button></span>
                           <tag style="float: right" id="navigationAssitantBills">
                           </tag>
                        </div>

                            <div class="table-responsive" style="overflow-x: hidden !important">
                              <div id="billBriefDisplayRender">

<!-- Loading Animation -->

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

<div class="row" style="padding: 3px 0;"> <div class="infoTile" style="border: none; width: 100%; line-height: 1.2em;"> <div class="infoTileHead" style="width: 60%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 10%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> <div class="infoTileHead" style="width: 20%; height: 24px; display: inline-block;"> <div class="loaderDummyTile" style="height: 24px"></div> </div> </div> </div>

                              </div>
                            </div>
                            <div class="clearfix"></div>

                    

                    </div>
                </div>
            </div>

            <div class="col-xs-7" id="billDetailedDisplayRender">

            </div>
        </div>




   <!-- Modal -->
   <div id="addressViewFromBillModal" class="modal">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important;">
                  <h1 style="margin: 10px 0; font-size: 21px; font-weight: 400; padding-left: 10px">Address
                  </h1>

                     <div class="row" style="padding: 5px 30px 20px 15px;" id="addressViewFromBillModalContent">
                        
                     </div>

            </div>
            <div class="modal-footer" style="padding: 0">
                <button  class="btn btn-default" onclick="viewDeliveryAddressFromBillHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Close</button>                
            </div>
         </div>
      </div>
   </div>



   <!-- Modal -->
   <div id="customerReviewViewModal" class="modal">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important;">
                     <div class="row" style="padding: 20px 25px 10px 25px;" id="customerReviewViewModalContent">
                        
                     </div>
            </div>
            <div class="modal-footer" style="padding: 0">
                <button  class="btn btn-default" onclick="customerReviewViewModalHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Close</button>                
            </div>
         </div>
      </div>
   </div>


   <!-- Modal -->
   <div id="searchFilterModal" class="modal">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important; padding-bottom: 15px">
                     <div class="row">
                        <div class="col-lg-12">
                                 <div class="form-group">
                                    <label style="margin: 0; font-size: 24px; font-weight: 300;">Filter & Search</label>
                                    <hr style="margin: 5px 0 10px 0">
                                   <div id="filterSearchArea" style="margin: 0 0 10px 0; padding: 15px 5px 40px 5px;">
                                    <input type="text" value="" class="form-control tip" id="filter_search_key" style="border: none; border-bottom: 2px solid; font-size: 36px; height: 60px; font-weight: 300; padding: 10px 3px;" placeholder="Search Here" required="required" />
                                  </div>

                                    <div class="col-lg-12">
                                       <div class="row" style="border: 1px solid #eeeeee; padding: 6px 0 2px 0;">
                                          <div class="col-sm-4">
                                            <label style="font-size: 10px">SEARCH USING</label>
                                            <select id="filterSearchCriteria" class="form-control mySearchSelector" onchange="changeFilterSearchCriteria()">
                                              <option value="bill">Bill Number</option>
                                              <option value="all">All Bills</option>
                                              <option value="steward">Attended Staff</option>
                                              <option value="amount">Bill Amount</option>
                                              <option value="machine">Billing Machine</option>
                                              <option value="type">Billing Modes</option>
                                              <option value="customer">Customer Mobile</option>
                                              <option value="session">Dine Session</option>
                                              <option value="discount">Discounted Orders</option>
                                              <option value="payment">Payment Modes</option>
                                              <option value="refund">Refunded Orders</option>
                                              <option value="table">Table Number</option>
                                            </select>
                                          </div>                                        
                                          <div class="col-sm-4">
                                             <label style="font-size: 10px">FROM DATE</label><br>
                                             <input type="text" id="reportFromDate" class="myDatePicker" style="width: 100%" placeholder="From Date">
                                          </div>
                                          <div class="col-sm-4">
                                             <label style="font-size: 10px">TO DATE</label><br>
                                             <input type="text" id="reportToDate" class="myDatePicker" style="width: 100%" placeholder="To Date">
                                          </div>

                                       </div>

                                   </div>


                                 </div>                                 
                        </div>
                     </div>
            </div>
            <div class="modal-footer">
               <button  class="btn btn-default" onclick="hideFilterModal()" style="float: left">Cancel</button>
               <span id="actionButtonSearch"><button  class="btn btn-success" onclick="filterSearchInitialize()" style="float: right">Proceed</button></span>
            </div>
         </div>
      </div>
   </div>


   <!-- Modal -->
   <div id="refundReasonPrimaryModal" class="modal">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important;">
                  <h1 style="margin: 10px 0; font-size: 21px; font-weight: 400; padding-left: 10px; color: #f59d13">Refund Details
                  </h1>

                     <div class="row" style="padding: 10px 25px 5px 25px;" id="refundReasonPrimaryModalContent">
                        
                     </div>

            </div>
            <div class="modal-footer" style="padding: 0">
                <button  class="btn btn-default" onclick="openRefundDetailsInfoHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Close</button>                
            </div>
         </div>
      </div>
   </div>

   <!-- Modal -->
   <div id="discountReasonPrimaryModal" class="modal">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important;">
                  <h1 style="margin: 10px 0; font-size: 21px; font-weight: 400; padding-left: 10px; color: #16a085">Discount Details
                  </h1>

                     <div class="row" style="padding: 10px 25px 5px 25px;" id="discountReasonPrimaryModalContent">
                        
                     </div>

            </div>
            <div class="modal-footer" style="padding: 0">
                <button  class="btn btn-default" onclick="openDiscountDetailsInfoHide()" style="width: 100%; border: none; border-radius: 0; height: 50px;">Close</button>                
            </div>
         </div>
      </div>
   </div>


   <!-- APPLY LATE DISCOUNT -->
   <div id="lateRefundModal" class="modal">
      <div class="modal-dialog" style="top: 25px">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-header" style="border: none; background: #225179">  
                <h1 style="margin: 0; font-size: 21px; font-weight: 400; padding-left: 10px; color: #FFF">Apply Discount
                  <tag style="position: absolute; right: 20px; top: 10px; opacity: 0.8;"><i class="fa fa-inr"></i><tag id="applyBillDiscountLate_grandSumDisplay" style="font-size: 150%; font-weight: bold;">0</tag></tag>
                </h1>              
            </div>
            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important;">
                  
                  <div class="row" style="padding: 5px 25px;">
                          <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">
                                  <label style="font-weight: bold; color: #828282; font-size: 12px;">DISCOUNT TYPE</label>
                                  <select id="applyBillDiscountLate_type" onchange="lateApplyDiscountValueFocus()" class="form-control">
                                    <option value="OTHER" selected="selected">Other</option>
                                  </select>
                               </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group">
                                  <label style="font-weight: bold; color: #828282; font-size: 12px;">DISCOUNT VALUE</label>
                                  <input type="number" value="0" placeholder="0" class="form-control tip" id="applyBillDiscountLate_value" onkeyup="estimateDiscountDisplay()" style="border: none; border-bottom: 1px dashed #eee; padding: 0; height: 50px; font-size: 36px; font-weight: bold;"/>
                               </div>
                            </div>
                            <div class="col-sm-4">
                               <div class="form-group">
                                  <label style="font-weight: bold; color: #828282; font-size: 12px;">UNIT</label>
                                  <select name="unit" id="applyBillDiscountLate_unit" class="form-control" onchange="estimateDiscountDisplay()" style="margin-top: 10px;">
                                    <option value="PERCENTAGE" selected="selected">Percentage (%)</option>
                                    <option value="FIXED">Fixed Amount (Rs)</option>
                                  </select>
                               </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12">
                              <p style="font-size: 14px; color: #2ecc71; margin: -10px 0 0 0;">Discount Amount: <tag id="applyBillDiscountLate_amount">0</tag></p>
                            </div>
                          </div>
                  </div>
            </div>
            <div class="modal-footer" style="padding: 0; border-top: none;" id="lateRefundModalActions">                
            </div>
         </div>
      </div>
   </div>




   <!-- ADD ITEM TO BILL -->
   <div id="lateAddItemToBill" class="modal">
      <div class="modal-dialog" style="top: 25px">
         <!-- Modal content-->
         <div class="modal-content">

            <div class="modal-header" style="border: none; background: #688679">  
                <h1 style="margin: 0; font-size: 21px; font-weight: 400; padding-left: 10px; color: #FFF" id="lateAddItemToBillTitle">Add New Item to Bill</h1>  
                <button style="background: none; border: none; width: 50px; height: 40px; position: absolute; right: 5px; top: 7px; outline: none; color: #FFF;" onclick="addItemToGeneratedBillHide()"><i class="fa fa-times"></i></button>            
            </div>
            <div class="modal-body" style="height: 420px; overflow-y: none !important; overflow-x: none !important;">
                  
                  <div class="row" style="padding: 5px 25px;">

                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group" style="margin-bottom:5px; margin-right: 6px; margin-left: 6px">
                                
                                <label style="font-weight: bold; color: #828282; font-size: 12px;">ENTER ITEM</label>

                                <input type="text" name="code" id="late_add_item_by_search" class="form-control ui-autocomplete-input mousetrap" placeholder="Search item by name or short code"/>

                                <input type="hidden" id="late_add_hidden_bill_number">

                                <div id="lateSearchResultsRenderArea" class="searchResultsHolder" style="height: 300px">

                                </div>

                                <div style="margin-top: 10px; height: 328px; overflow-y: auto !important; overflow-x: none !important;" id="temporaryCartRenderArea">
                                  <p style="margin: 100px 0 0 0; font-size: 28px; font-weight: 300; color: #d2d6de; text-align: center;">Add any item from the Menu!</p>
                                </div>

                              </div>
                            </div>
                          </div>

                  </div>
            </div>
            <div class="modal-footer" style="padding: 0; border-top: none;">  
              <button id="lateItemAddContinueButton" style="background: #688679; border: none; height: 40px; width: 100%; color: #FFF; letter-spacing: 2px; text-transform: uppercase; outline: none; display: none" onclick="processLateAddedItems()">Continue</button>              
            </div>
         </div>
      </div>
   </div>






   <!-- Modal -->
   <div id="customiseItemLateModal" class="modal">
      <div class="modal-dialog" style="top: 15px">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button  onclick="hideCustomiseItemLate()" style="float: right;" class="btn clearButton"><i class="fa fa-times"></i></button>
               <h4 class="modal-title" id="customiseItemLateTitle">Choose an Option</h4>
            </div>
            <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important">
               <div class="row">
                  <div class="col-lg-12" id="customOptionsLateList">
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button  class="btn btn-default" onclick="hideCustomiseItemLate()" style="float: left">Cancel</button>
            </div>
         </div>
      </div>
   </div>







        <!-- DELIVERY AGENT MODAL -->
        <div id="deliveryBoysModal" class="modal">
             <div class="modal-dialog" style="width: 27em !important;">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body" style="max-height: 420px; overflow-y: auto !important; overflow-x: none !important; max-height: 480px; padding: 0" id="deliveryBoysModalContent">
                    
                  </div>  
                </div>
             </div>
        </div>


 </template>       